.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.main {
  flex: 1;
  height: 100vh;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.main::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
